/* UZ LIEKAJIEM STILA UZSTĀDIJUMIEM VAR NEPIEVERT UZMANĪBU, VIENKĀRŠI NEESMU NOŅĒMIS */
body {
  width: 600px;
  margin: auto;
  background: #8d8d8d;
  font-family: 'Roboto', sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
}
tbody {

}
th, td {
  border: 1px solid rgba(49, 49, 49, 0.5);
}
tr {
  height: 25px;
}
.namesAll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.namesAll {
  display: flex;
  overflow-y: scroll;
  overflow-y: hidden;
  max-width: 100%;
  margin: 0 auto;
  height: 24px;
  padding: 0 5px;
}
.namesAll p {
  height: 22px;
  margin-top: 0;
  padding: 2px;
  border-right: 1px solid #3b3b3b;
}
.namesAll p:last-child {
  border-right: 0px;
}
.namesAll p:hover {
  background: rgba(0, 0, 0, 0.05);
}
#search_title{
  margin: 5px auto 6px 10px;
}
form {
  width: 230px;
  display: block;
  margin: 10px auto 5px auto;
}
#search_field{
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}
#search_button{
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}
#pagesButtons {
  width: 40%;
  height: 25px;
  display: flex;
  margin: 5px auto;
}
.dd_func {
  border: 2px solid rgba(255, 0, 0, 0.3);
  padding: 2px 5px;
  background: rgba(169, 169, 169, 0.3);
}
.centerObjects {
  margin: 0 auto;
  width: 356px;
}
.column {
  background: #424242;
  display: block;
  width: 160px;
  height: 50px;
  padding: 5px 8px;
  float: left;
  border: 1px solid #8d8d8d;  /* Slikta krāsa, vajag caurspīdīgu atstarpi */
}
.column:hover {
  background: #3b3b3b;
  border: 1px solid #8d8d8d;  /* Slikta krāsa, vajag caurspīdīgu atstarpi */
}
.column2 {
  background: #424242;
  display: block;
  width: auto;
  width: 100%;
  padding: 5px 8px;
  float: left;
  border: 1px solid #8d8d8d;
}
.sign {
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 5px;
}
.valName {
  font-size: 14px;
  color: #ffffff
}
.subtitle {
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25
}
.smallCorner {
  color: #ffffff;
  position: relative;
  float: right;
}
.colorTextGreen {
  color: #1db954;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: inherit;
}
.colorTextRed {
  color: #f45b5b;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: inherit;
}
.span14px {
  font-size: 16px;
}
.smallBottom {
  font-size: 12px;
}
.spanIcon {
  display: inline-flex;
  justify-content: center;
  height: 18px;
  width: 18px;
  margin-right: 2px;
}